.navbar {
    position: relative;
    height: 4rem;
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.navicon {
    height: 2.5rem;
    min-width: 3rem;
    position: absolute;
    left: 0.5rem;
}


.close_nav_icon {
    height: 5rem;
    width: 5rem;
    min-width: 3rem;
    position: absolute;
    left: -0.5rem;
}


#hidden_nav_icon {
    visibility: hidden;
}


.midcontent { 
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 4rem;
}


#mainheading {
    visibility: visible;
    letter-spacing: 8px;
}


#last_text { 
    padding-right: 0rem;
}


.midcontent_text { 
    visibility: hidden;
}

@media screen and (min-width: 640px) {
    .midcontent { 
        flex: 1;
    }

    #mainheading {
        visibility: visible;
    }

    .midcontent_text { 
        visibility: hidden;
    }
}

@media screen and (min-width: 1024px) {
    
    
    .midcontent_text { 
        padding-right: 3rem;
        visibility: visible;
    }

    .midcontent_text:hover {
        color: #52525b;
        transition: all;
        transition-duration: 300ms;
    }
}

@media screen and (min-width: 1280px) {

}