.products_container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  
  .product_div {
    border-radius: 0.5rem;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    width: 23rem;
    /* margin-left: 2rem; */
    text-align: center;
    justify-self: center;
    margin-top: 4rem;
  }
  
  .product_div:hover {
    box-shadow: 5px 10px 5px lightgray;
    transition: all ease-in ease-out;
    transition-duration: 300ms;
  }
  
  .product_image_div {
    display: flex; 
    height: 35rem;
    justify-content: center;
    align-items: center;
  }
  
  .product_text_div {
    background-color: #f3f4f6 ;
    text-align: center;
    font-size: x-large;
    border-radius: 0.5rem;
  }
  
  .product_image { 
    height: 20rem;
    width: auto;
  }

  @media screen and (min-width: 640px) {
    .products_container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  
    }
  }

  @media screen and (min-width: 768px) {
    .products_container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  
    }
  }


  @media screen and (min-width: 1024px) {
    .products_container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  
    }
  }

  
  @media screen and (min-width: 1280px) {
    .products_container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  
  @media screen and (min-width: 1536px) {
    .products_container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media screen and (min-width: 1920px) {
    .products_container {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }