.header { 
  background-color: #3f3f46;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  height: 4rem;
  white-space: nowrap; /* Prevent line breaks */
  letter-spacing: 0.5rem;
}

.odd_vip_text {
  line-height: 0;
  font-size: small;
  color:transparent;
  -webkit-text-stroke: 1px pink; /* Stroke color and width for WebKit browsers */
  white-space: nowrap; /* Prevent line breaks for individual text elements */
  padding-right: 1rem;

}

.even_vip_text {
  line-height: 0;
  font-size: small;
  color: pink;
  white-space: nowrap; /* Prevent line breaks for individual text elements */
  padding-right: 1rem;

}


.imagediv {
  overflow: hidden;
  background-color: lightcyan ;
}

.coverimage { 
  width: 100vw;
  height: 70vh;
  background-color: lightcyan;
  object-fit:cover; /* Crop the image while maintaining aspect ratio */
  object-position: center; /* Center the image horizontally */
  margin-top: 20vh;
}

@media screen and (min-width: 640px) {
  .odd_vip_text, .even_vip_text {
    font-size: medium;
  }

  .coverimage { 
    width: 100vw;
    height: auto;
    margin-top: 0rem;
  }

}

@media screen and (min-width: 1024px) {
  .odd_vip_text, .even_vip_text {
    font-size: large;
  }
}